@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root{
    --primary-color :#f5f5f5;
    --secondary-color:#6A7B8B;
    --third-color:#BBC2C9;
    --font-family : 'Sans', sans-serif;
    --font-weight : 15px;
}
* , *::before , *:after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    
}
header{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header img{
    width: 9rem;
    margin:1rem  1rem ;
    
}
.desktop {
    display:inline-flex;
    padding: 15px ;
    font-weight: var(--font-weight);

}
.desktop ul{
    display: flex;
    justify-content: space-around;
    margin : 5px;
}
.desktop li {
    display: inline-flex;
    margin: 5px;
    padding: 1rem;
    
}
.desktop li a{
    color: #f5f5f5;
}
.desktop li a:hover{
    transform: scale(1.2);
}
.black-logo{
    display: flex;
    position: relative;
    width: 10%;
    height: 10%;
    margin: 8px auto;
    width: 12rem;
}
.text-image{
    position: relative;
    margin:auto;
    display: flex;
    justify-content: center;
    width: 95%;
    
    
}
.text1{
    width: 95%;
    height: 60px;
    position :absolute;
    color : white;
    text-align: center;
    margin :10% 0 0 0;
    font-style:var(--font-family);
    font-size: 30px;
    padding: 2rem;
}
 .text-image img{
    width: 100%;
    display: flex;
    margin: auto;   
}
 div.caps{
    font-size: 30px;
    padding: 2%;
    margin: 5% 5%;
    text-align: center;
    font-family: var(--font-family);

 }
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
    width: 95%;
    padding: 5px;
 }
.lebon , .les, .histories {
     background-color : var(--third-color);
     width: 30%;
     height: 25vw;
         
 }
 .lebon img , .les img ,.histories img{
    width: 50%;
    display: flex;
    align-content: center;
    margin:  auto;
}
.lebon strong, .les strong, .histories strong{
    font-family: var(--font-family);
    color: #ffff;
    display: flex;
    text-align: center;
    padding: 0.5rem;
    font-size: 1vw;
}
.lebon h2,.les h2,.histories h2{
    color: #f5f5f5;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    font-size: 25px;
}
button{
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    margin:1rem auto ;
    box-sizing: border-box;
    border-radius: 0.55em;
    padding: 1em 3em;
    transition: all 0.2s;
    font-family: var(--font-family);

}
.button a{
    color: #ffff;
}
.button:hover{
    background-color:black;
}
h1{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: #5C5B5B;
}
.pic-text {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    margin: auto;
    
}
.pic-text img{
    width: 10%;
    margin: 2rem ; 
}
.pic-text strong{
    font-family: var(--font-family);
    padding: 1rem;
    margin-right: 1rem;
}
.para{
    display: flex;
}
.item{
    flex-basis: 100%;
    height: 20px;
    margin: 15px;
}
.para2 strong{
    float: left;
}
.para2-1 strong{
    float:right;
}
.small{
    text-align: center;
    margin: 1rem;
}
.small-1{
    text-align: center;
    font-size: 25px;
    margin: 2rem;
}
/*footer*/
.foot{
    background-color: var(--secondary-color);
    display: flex;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 99%;
    height: 90px;
    overflow: hidden;

    
}
.foot p{
    margin:1rem auto ;
    text-align: center;
}

.soc{
    position: absolute; 
    padding: 0.5rem;
}
.img{
    
    width: vw;
    color:var(--primary-color);
    margin-top: 20px;
     
}
footer img{
    width: 5vw;
    margin: 10px 0 10px 10px;

}
.soc a {
    color: black;
}
.soc a:hover{
    transform: scale(1.5);
}
/*this is the styling for contact page*/
.map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 5px 0;
    padding-top: 15px;
    padding-bottom: 1;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.center-logo{
    display: flex;
    position: relative;
}
.center-logo img{
    width:20%;
    height: 10%;
    justify-content: center;
    margin: 2.5rem auto;
    padding: 1rem;
}
.address h3{
    display: block;
    text-align: center;
    margin: 1px 10px;
    font-size: 30px;
    font-family: var(--font-family);
}
.address p{
    margin:0px 0px 8px 5rem;
}
.cont a{
    text-decoration: none;
    color: #5C5B5B;
    margin:0px 0px 15px 5rem;
}
/*styling for about page */
.about{
    display: flex;
    flex-direction: column;

}
.first h4 , .second h4 {
    font-size: 30px;
    margin: 5px;
}
.para1{
    float: right;
    margin-right: 5px;
}
.para2{
    float: left;
    margin-left: 1rem;
}
.para1 , .para2{
    width: 4%;

}
.first p , .second p{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
   
}

.mobile{
    display: none;
}










@media screen and ( max-width : 960px){
    .desktop{display: none;}
    .mobile{display: block;}
    .black-logo{display:none;}
    body{
        width: 100%;
        height: 100%;
    }
        header{
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        height: 20vh;
        flex-direction:row;
        }
        .mobile ul{
            list-style: none;
            margin-bottom: 2rem;
            margin-top: 23px;
        
        }
        .mobile  li{
            height: 40px;
            width: 40px;
            padding: 2px;
            margin: 4px 2px;
            box-shadow: 0 2px 2px;
            
        
        }
        .mobile a{
            width: 40px;
            height: 40px;
            text-align : center;
            line-height : 40px;
            display : block;
            text-decoration : none;
            position : relative;
            color:black;
        }
        .mobile a:hover span{
            width: auto;
            padding: 0 20px;
            overflow: visible;
            }
        .mobile a span{
            width: 0;
            left: 40px;
            padding: 0;
            position: absolute;
            overflow: hidden;
            font-family: var(--font-family);
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.2;
            white-space: nowrap;
            line-height: 40px;
            box-shadow: 0 20px 40px;
            transition: 0.25s;
        }
        .mobile li *{
            background: var(--secondary-color-color);
        }
        .text-image{
            margin-top: 5px;
        }
        .box{
         display: block;
         margin: auto;
        }
        .lebon , .les , .histories{
          margin: 5px auto;
          padding: 1px;
          height: 260px;
          width: 50%;
        }
        .box h2{
            font-size: 25px;
        }
        .box strong{
            font-size: 11px;
        }
        .pic-text img strong{
            display: grid;
            margin: auto; 
            align-content: center;
        }
       .para{
           display: flex;
           flex-direction: column;
       } 
       
        .small{
            text-align: center;
            margin-top: .5rem;
        }
        .small-1{
            text-align: center;
            font-size: 25px;
            margin: 1rem;
        }
            
        }
        .soc img{
            width: 4%;
            margin-top: 2rem;
        }
        .center-logo{
            display: flex;
            position: relative;
        }
        .center-logo img{
            width:10%;
            height: 10%;
            justify-content: center;
            margin: 2rem auto;
            padding: 1rem;
        }
        .about{
            display: flex;
            flex-direction: column;
        
        }
        .first h4 , .second h4{
            margin: 5px;
        }
        .para1{
            float: right;
            margin-right: 5px;
        }
        .para2{
            float: left;
            
        }
        .para1 , .para2{
            width: 30%;
            margin: 5px;
        }
        
    